.content{
    background-color: #1F232E;
    border: 2px solid #18A4E3;
    border-radius: 6px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 8px;

	width: calc(50% - 2rem);
}
    .container{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
        .topBlock{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .bottomBlock{

        }
            .procentContainer{
                border-radius: 6px;
                border: 2px solid #18A4E3;
                background: #1F232E;
                padding: 4px 8px;
            }
                .procentBar{
                    height: 8px;
                    border-radius: 4px;
                    background: #18A4E3;
                }
