.content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
    .image{
        width: calc(100dvw / 4);
        height: calc(100dvh / 4);
        border: 2px solid #18A4E3;;
        border-radius: 4px;
    }
    .name{

    }

.modalStyle{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
    .topBlock{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .hoverImage{
        width: calc(100dvw / 4);
        height: calc(100dvh / 4);

        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 4px;
        border: 2px solid #18A4E3;;

        position: absolute;

        opacity: 0;
        transition: opacity 0.3s;
    }
    .hoverImage.hovered{
        opacity: 1;
    }