.content{
    padding: 12px 38px 13px 38px;

    color: #18A4E3;
    background-color: #1F232E;

    border: 2px solid #18A4E3;
    border-radius: 10px;

    color: #18A4E3;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    transition: color 0.3s, background-color 0.3s;
}
.content:hover{
    color: #1F232E;
    background-color: #18A4E3;
}