.content {
    min-height: calc(100dvh - 80px);
    
    display: flex;
    flex-direction: column;
    gap: 75px;
    margin-bottom: 140px;
}
    .skillsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* положення не повних контейнерів по відношенню до повних */
        align-items: flex-end;
        flex-wrap: wrap;
		gap: 1rem;
	}
        .blockContainer{
            display: flex;
            flex-direction: column;
            gap: 20px 0;

            width: calc(50% - 20px);
            margin: 10px;
            box-sizing: border-box;
        }
            .blockName{
                padding-left: 10px;
            }
